<!doctype html>
<html>

<head>
  <div class="container">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Uefa Champions League Archive</title>
    <header>
      <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link" href="/about">Players</a>
    </div>
  </div>
</div>
</nav>
      <img src="/images/logo.png" alt="A lovely logo" width="150" height="150">
      </div>
   </header>
</head>

<body>
    {{{body}}}
    <div class="container">
    <p>We desire to bring you all the latest stats of some of the greatest players of our generation including goals scored, assists, clean sheets and domestic success. Our stats team are always working on keeping the websitge up to date with all the footballers records and match performances.</p>
    <img style="float:initial" src="/images/messi.jpg" alt="Messi" width="470" height="400">
    <img style="float:initial" src="/images/ronaldo.jpg" alt="Ronaldo" width="470" height="400">
    <p>We provide stats about players UCL games and league games.</p>
    <img style="float:initial" src="/images/lewandowski.png" alt="Lewandowski" width="470" height="400">
    <img style="float:initial" src="/images/neymar.png" alt="Neymar" width="470" height="400">
    <p>We also do stats about players in EL games (Europa League).</p>
    <img style="float:initial" src="/images/reus.jpg" alt="Reus" width="470" height="400">
    <img style="float:initial" src="/images/kane.jpg" alt="Kane" width="470" height="400">
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>

</html>
