<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <html lang="en"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Evan Faherty" content="Website">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="/styles/styles.css" rel="stylesheet" >
    <title>Uefa Champions League Archive</title>
    <header>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="mainnavbar">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<img src="/images/logo.png" href="/" width="100" height="100">
</div>
</header>
</head>

<body>
    {{{body}}}
    <p>We desire to bring you all the latest stats of some of the greatest players of our generation including goals scored, assists and domestic success.</p>
    <img style="float:initial" src="/images/messi.jpg" alt="Messi" width="350" height="300">
    <button type="button" class="btn btn-danger" href="/about">View More!</button>

    <img style="float:initial" src="/images/ronaldo.jpg" alt="Ronaldo" width="350" height="300">

    <img style="float:initial" src="/images/lewandowski.png" alt="Lewandowski" width="350" height="300">
    <button type="button" class="btn btn-danger" href="/about">View More!</button>

    <img style="float:initial" src="/images/neymar.png" alt="Neymar" width="350" height="300">
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <footer> &copy; Evan Faherty's Website!</footer>
</body>
  
</html>
