<!doctype html>
<html>

<head>
    <title>Uefa Champions League Archive</title>
    <header>
      <img src="/images/logo.png" alt="A lovely logo" width="150" height="150">
   </header>
</head>

<body>
    {{{body}}}
    <h1>Player statistics for 2020/21 season</h1>
    <h2>Lionel Messi</h2>
    <p>Age: 33</p>
    <p>Club: Barcelona</p>
    <p>Position: RW</p>
    <legend>Stats this season:</legend>
    <p>League Goals: 19</p>
    <p>Assists: 6</p>
    <p>UCL Goals: 4</p>
    <p>UCL Assists: 2</p>

    <h2>Cristiano Ronaldo</h2>
    <p>Age: 36</p>
    <p>Club: Juventus</p>
    <p>Position: ST/LW</p>
    <legend>Stats this season:</legend>
    <p>League Goals: 19</p>
    <p>Assists: 2</p>
    <p>UCL Goals: 4</p>
    <p>UCL Assists: 1</p>

    <h2>Robert Lewandowski</h2>
    <p>Age: 32</p>
    <p>Club: Bayern Munich</p>
    <p>Position: ST</p>
    <legend>Stats this season:</legend>
    <p>League Goals: 28</p>
    <p>Assists: 6</p>
    <p>UCL Goals: 4</p>
    <p>UCL Assists: 0</p>

    <h2>Neymar</h2>
    <p>Age: 29</p>
    <p>Club: PSG</p>
    <p>Position: LW</p>
    <legend>Stats this season:</legend>
    <p>League Goals: 6</p>
    <p>Assists: 4</p>
    <p>UCL Goals: 6</p>
    <p>UCL Assists: 1</p>

    <h2>Marco Reus</h2>
    <p>Age: 31</p>
    <p>Club: Borrussia Dortmund</p>
    <p>Position: CAM</p>
    <legend>Stats this season:</legend>
    <p>League Goals: 3</p>
    <p>Assists: 6</p>
    <p>UCL Goals: 0</p>
    <p>UCL Assists: 1</p>

    <h2>Harry Kane</h2>
    <p>Age: 27</p>
    <p>Club: Tottenham Hotspur</p>
    <p>Position: ST</p>
    <legend>Stats this season:</legend>
    <p>League Goals: 14</p>
    <p>Assists: 11</p>
    <p>Europa League Goals: 5</p>
    <p>Europa League Assists: 1</p>
</body>

</html>