<!doctype html>
<html>

<head>
    <title>Uefa Champions League Archive</title>
    <header>
      
   </header>
</head>

<body>
    {{{body}}}
    <h2>Our Socials:</h2>
    <p>Due to Covid-19, we are currently operating from home so please expect slow replies if you contact us. Thank you for your co-operation!</p>
    <p>Email:</p>
    <a href="Email">Uefa@gmail.com</a>
    <p>Telephone:</p>
    <a href="Telephone">087-123456</a>
    <p>Thank you for choosing UEFA Champions League Archive!</p>
    <a href="/" class="btn btn-primary">Return to Home</a>
</body>
</html>