<!doctype html>
<html>

<head>
    <title>Uefa Champions League Archive</title>
    <header>
      <img src="/images/logo.png" alt="A lovely logo" width="150" height="150">
   </header>
</head>

<body>
    {{{body}}}
    <p>Email: UCLArchive@gmail.com</p>
    <p>Telephone: 093-123456</p>
</body>

</html>