<!doctype html>
<html>

<head>
    <title>Uefa Champions League Archive</title>
    <header>
        
   </header>
</head>

<body>
    {{{body}}}
    <h1>Hall Of Fame</h1>
    <h2>Johan Cruyff</h2>
    <p>Position: CAM</p>
    <p>Ajax Goals: 190</p>
    <p>Barcelona Goals: 48</p>
    <p>Netherlands Goals: 33</p>
    <p>Balon D'or Winner: 1971, 1973 and 1974</p>
    <img style="float:initial" src="/images/cruyff.jpg" alt="Cruyff" width="300" height="350">

    <h2>Eusebio</h2>
    <p>Position: ST</p>
    <p>Benfica Goals: 317</p>
    <p>Sporting Lisbon Goals: 77</p>
    <p>Netherlands Goals: 41</p>
    <p>Balon D'or Winner: 1965</p>
    <img style="float:initial" src="/images/eusebio.jpg" alt="Eusebio" width="300" height="350">

    <h2>Zinedine Zidane</h2>
    <p>Position: CAM</p>
    <p>Real Madrid Goals: 37</p>
    <p>Juventus Goals: 24</p>
    <p>France Goals: 31</p>
    <p>Balon D'or Winner: 1998</p>
    <img style="float:initial" src="/images/zidane.jpg" alt="Zidane" width="300" height="350">

    <h2>Paul Gascoigne</h2>
    <p>Position: </p>
    <p>Newcastle Goals: 21</p>
    <p>Rangers Goals: 30</p>
    <p>England Goals: 10</p>
    <p>Balon D'or Winner: NEVER</p>
    <img style="float:initial" src="/images/gascoigne.jpg" alt="Gascoigne" width="300" height="350">

</body>
</html>