<!doctype html>
<html>

<head>
    <title>Uefa Champions League Archive</title>
    <header>
        
   </header>
</head>

<body>
    {{{body}}}
    <h1>Player statistics for the 2020/21 season</h1>
    <h2>Lionel Messi</h2>
    <p>Age: 33</p>
    <p>Club: Barcelona</p>
    <p>Position: RW</p>
    <legend>Stats this season:</legend>
    <p>League Goals: 19</p>
    <p>Assists: 6</p>
    <p>UCL Goals: 4</p>
    <p>UCL Assists: 2</p>

</body>
</html>