<h2>Fill out the Details below!</h2>

<select class="form-select" aria-label="Default select example">
  <option selected>Choose from the following:</option>
  <option value="1">Add footballer</option>
  <option value="2">Add normal user</option>
</select>

<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">Female</label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">Male</label>
</div>

<form>
    <div class="form-group">
        <label for='firstname'>First Name</label>
        <input type=text id='firstname' name='firstname' class='form-control'>
    </div>
    <div class="form-group">
        <label for='surname'>Surname</label>
        <input type=text id='surname' name='surname' class='form-control'>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">Terms + Conditions</label>
    </div>
    <button type=submit class="btn btn-primary" href="/player/personadded">Add Player</button>
    </div>
</form>